#main{
    background-color: whitesmoke;

}

.nav{
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    
}

.logo{
    height: 5vh;
}
.account{
    height: 5vh;
}
.footer{
    width: 100vw;
    height: 10vh;
    background-color: aliceblue;
    position: absolute;
    bottom: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.addStudent{
    width: 40vw;
    height: 7vh;
    font-size: 1.3rem;
    background-color: #F56B00;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

.StudentEntrySection{
    position: relative;
    position: absolute;
    z-index: 5;
    background-color: aliceblue;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    width: 80vw;
    height: 40vh;
    box-shadow: 5px 5px 20px rgba(0,0,0);
}
.StudentLongOutingSection{
    position: relative;
    position: absolute;
    z-index: 5;
    background-color: aliceblue;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    width: 80vw;
    height: 50vh;
    box-shadow: 5px 5px 20px rgba(0,0,0);
}

.inputEnrollment{
    top: 40%;
}
.inputOutingReason{
    top: 20%;
}
.vacationInputEnrollment{
    top: 35%;
}

.StudentEntrySection input{
    width: 60vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 5vh;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #121323;
}
.StudentLongOutingSection input{
    width: 60vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 5vh;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #121323;
}

.cross{
    width: 10vw;
    position: absolute;
    top: 2%;
    left: 4%;
}

.submitBtn{
    position: absolute;
    top:72%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: #F56B00;
    border: none;
    width: 40vw;
    height: 6vh;
    border-radius: 50px;
    font-size: 1.6rem;


}
.submitVacBtn{
    position: absolute;
    top:80%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: #F56B00;
    border: none;
    width: 40vw;
    height: 6vh;
    border-radius: 50px;
    font-size: 1.6rem;


}
.inputOutingReason{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    height: 6vh;
    border-radius: 30px;
    font-size: 1.2rem;
    background-color: #F56B00;
    color: white;
    border: none;
}
.datesText{
    position: absolute;
    left: 12%;
    top: 55%;
    font-size: 1.2rem;
}
.inputDate{
    top: 60%;
}
.switchMode{
    margin-top: 10px;
    background-color: aliceblue;
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    
}
.switchMode button{
    width: 25vw;
    height: 5vh;
    font-size: 1.3rem;
    background-color: #F56B00;
    color: white;
    border: none;
    border-radius: 7px;
}
.historyNav{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 20px;
    
    svg{
        height: 4vh;
    }
}
.datesDropDown{
    width: 25vw;
    height: 5vh;
    border: none;
    background-color: #F56B00;
    color: white;
    font-size: 1.08rem;
    border-radius: 10px;
}

.outsideStudentsList{
    width: 95vw;
    height: 63.6vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    overflow-y: auto;
    ol{
        width: 93vw; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



.profile{
    width: 80vw;
    height: 50vh;
    box-shadow: 7px 7px 15px rgba(0,0,0);
    position: absolute;
    z-index: 10;
    top:10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: aliceblue;
    position: relative;

}
.profilePic{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid #F56B00;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);

}

.profilePic img{
    height: 155px;
    width: 155px;
    border-radius: 50%;
}
.logoutBtn{
    position: absolute;
    width: 45vw;
    height: 7vh;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    background-color: #F56B00;
    color: white;
    font-size: 1.5rem;
    border: none;

}
.register{
    position: absolute;
    width: 45vw;
    height: 7vh;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    background-color: #F56B00;
    color: white;
    font-size: 1.5rem;
    border: none;
}
.profileBack{
    height: 6vh;
    margin: 10px 0px 0px 10px;
}

.registerMain{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    color: #121323;
    background-color: aliceblue;

}

.backRegister{
    width: 10vw;
    background-color: transparent;
    border: none;
    margin: 20px;
}
.registerHero{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 15px;

}

.inputUsername{
    margin: 40px 20px 0px;
    color: #121323;
    width: 70vw;
    height: 6vh;
    font-size: 1.3rem;
    border: none;
    padding: 0px 10px;
    border-bottom: 3px solid black;
}
.inputEmail{
    margin: 40px 20px 0px;
    color: #121323;
    width: 70vw;
    height: 6vh;
    font-size: 1.3rem;
    border: none;
    padding: 0px 10px;
    border-bottom: 3px solid black;

}
.inputPassword{
    margin: 40px 20px 0px;
    color: #121323;
    width: 70vw;
    height: 6vh;
    font-size: 1.3rem;
    border: none;
    padding: 0px 10px;
    border-bottom: 3px solid black;
}
.inputOrganisationId{
    margin: 40px 20px 0px;
    color: #121323;
    width: 70vw;
    height: 6vh;
    font-size: 1.3rem;
    border: none;
    padding: 0px 10px;
    border-bottom: 3px solid black;
}
.inputOrganisationPassword{
    margin: 40px 20px;
    color: #121323;
    width: 70vw;
    height: 6vh;
    font-size: 1.3rem;
    border: none;
    padding: 0px 10px;
    border-bottom: 3px solid black;
}

.loginBtn{
    width: 55vw;
    height: 6vh;
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F56B00;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 1.6rem;

}
.forgetPassword{
    position: absolute;
    top: 66%;
    font-size: 0.9rem;
    border: none;
    left: 50%;
    transform: translateX(-50%);

}

.signUp{
    width: 52vw;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    button{
        color: #F56B00;
        background-color: transparent;
        border: none; 
    }
}

@media (min-width:540px) {
    .back{
        width: 7vw;
        margin: 10px;
    }
    .loginBtn{
        top: 85%;
        width: 40vw;
        height: 8vh;
    }
}
@media (max-height:650px) {
    .back{
        width: 4vw;
    }
    .inputEmail{
        margin: 30px 20px 0px;
    }
    .inputOrganisationId{
        margin: 30px 20px 0px;
    }
    .inputPassword{
        margin: 30px 20px 0px;
    }
    .inputUsername{
        margin: 30px 20px 0px;
    }
    .loginBtn{
        top: 90%;
    }
}


@media (min-width:340px) {
    .studentEnteredBtn{
      
        width: 35vw;
    }
}
@media (min-width:900px) {
    .studentEnteredBtn{
        width: 20vw;
        font-size: 1rem;
    }
    .addStudent{
        width: 25vw;
        font-size: 1.8rem;
    }
    .profile{
        width: 40vw;
    }
    .logoutBtn{
        width: 20vw;
    }
    .register{
        width: 20vw;
    }
   .cross{
    width: 5vw;
   }
    
}