.main{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    color: #121323;

}
.main button{

}
.back{
    width: 9vw;
    background-color: transparent;
    border: none;
    margin: 20px;
}
.hero{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 15px;

}
.welcome{
    font-size: 2.5rem;

}
.continue{
    font-size: 1.2rem;
    font-weight: 900;
    color: #8a8b94;
    margin-top: 10px;
}
.inputEmail{
    margin: 60px 20px 0px;
    color: #121323;
    width: 70vw;
    height: 6vh;
    font-size: 1.3rem;
    border: none;
    padding: 0px 10px;
    border-bottom: 3px solid black;

}
.inputPassword{
    margin: 40px 20px 0px;
    color: #121323;
    width: 70vw;
    height: 6vh;
    font-size: 1.3rem;
    border: none;
    padding: 0px 10px;
    border-bottom: 3px solid black;
}
.inputOrganisationId{
    margin: 40px 20px 0px;
    color: #121323;
    width: 70vw;
    height: 6vh;
    font-size: 1.3rem;
    border: none;
    padding: 0px 10px;
    border-bottom: 3px solid black;
}

.loginBtn{
    width: 55vw;
    height: 6vh;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F56B00;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 1.6rem;

}
.forgetPassword{
    position: absolute;
    top: 69%;
    font-size: 1.2rem;
    background-color: transparent;

    border: none;
    left: 50%;
    transform: translateX(-50%);

}

/* .googleLogin{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    width: 70vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    img{
        height: 4vh;
    }
    background-color: transparent;
} */

.signUp{
    width: 100vw;
    position: absolute;
    top: 79%;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    button{
        color: #F56B00;
        font-size: 1.2rem;
        background-color: transparent;
        border: none;
        

    }
}

.resetPass{
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 80vh;
    top: 20%;
    

}
.inputNewPassword{
    background-color: transparent;
    margin: 40px 20px 0px;
    color: #121323;
    width: 70vw;
    height: 6vh;
    font-size: 1.3rem;
    border: none;
    padding: 0px 10px;
    border-bottom: 3px solid black;
}
.inputConfirmNewPassword{
    margin: 40px 20px 0px;
    color: #121323;
    width: 70vw;
    height: 6vh;
    font-size: 1.3rem;
    border: none;
    padding: 0px 10px;
    border-bottom: 3px solid black;
}
.updateNewPassBtn{
    width: 43vw;
    height: 7vh;
    border-radius: 50px;
    background-color: #F56B00;
    color: white;
    border: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.3rem;

}
.passVisibility{
    height: 3.5vh;
    position: absolute;
    margin-left: -60px;
    margin-top: -17px;
}



@media (min-width:900px) {
    .back{
        width: 5vw;
    }
    .loginBtn{
        width: 40vw;
        height: 8vh;
        top: 75%;
    }
    .forgetPassword{
        top: 85%;
        font-size: 1.5rem;
    }
    
}
@media (min-width:1400px) {
    .loginBtn{
        top: 66%;
    }
    .forgetPassword{
        top: 78%;
    }
    .line{
        top: 82%;
    }
    .signUp{
        top: 90%;
    }
}
@media (max-height:880px) {
    .inputEmail{
        margin: 40px 20px 0px;
    }
    .loginBtn{
        top: 70%;
    }
    .forgetPassword{
        top: 82%;
    }
    
}
@media (max-height:700px) {
    .back{
        width: 4.5vw;
        margin: 10px;
    }
    .inputEmail{
        margin: 30px 20px 0px;
    }
    .inputOrganisationId{
        margin: 30px 20px 0px;
    }
    .inputPassword{
        margin: 30px 20px 0px;
    }
    .loginBtn{
        top: 75%;
    }
    .forgetPassword{
        top: 88%;
    }
    
}