.nav{
    /* gap: 30vw; */
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
        width: 1.7rem;
        border: transparent;
        background-color: transparent;
    }
}

.studentItem{
    width: 90vw;
    height: 9vh;
    list-style: none;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    border-radius: 7px;
}
.title{
    margin-left: 10px;
    margin-top: 20px;
}
.aboveDets{
    display: flex;
    justify-content: space-between;
    h4{
        font-weight: 900;
    }
    h3{
        font-weight: 100;
        
    }
    
}
.belowDets{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.studentEnteredBtn{
    width: 30vw;
    background-color: #F56B00;
    color: white;
    border: none;
    height: 4.5vh;
    font-size: 0.9rem;
    border-radius: 5px;
}

.searchContainer{
    width: 90vw;
    height: 60vh;
    background-color: white;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);

    input{
        width: 60vw;
        height: 5vh;
        margin: 10px;
        border-radius: 20px;
        padding: 5px;
        font-size: 1.1rem;
    }
    

}

.closeSearchContainer{
        position: absolute;
        top: 3%;
        left: 88%;
        width: 35px;
        height: 35px;border-radius: 50%;
        font-size: 1.2rem;
        cursor: pointer;
    }

.searchedStudentItem{
     width: 80vw;
    height: 9vh;
    list-style: none;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    border-radius: 7px;
}

@media (min-width:340px) {
    .studentEnteredBtn{
      
        width: 35vw;
    }
}

@media (min-width:900px) {
    .studentEnteredBtn{
        width: 17vw;
        font-size: 1rem;
    }

    
}